@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../Fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../Fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../Fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../Fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Mainblock{
    max-width: 500px;
    margin:auto;
    padding-top: 26px;
    border: 1px #ccc solid;
    max-height: 1000px;


}





.img{
    padding-left: 426px;
}
.Mainblock .title{
    text-align: center;
    margin-bottom:42px;
}
.Mainblock .title a{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}
.Mainblock .title .FirstPar{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
}
.Mainblock .title span{
    margin:0 11px;
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.SecParr{

    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    padding-left: 107px;
    margin-bottom: 16px;
}
.FirstInput{
    padding-left: 107px;
    margin-bottom: 16px;
}
.form .FirstInput input{
    width: 300px;
    height: 40px;
}
.SecInput{

    padding-left: 107px;
    margin-bottom: 16px;
}
.form .SecInput input{
    width: 300px;
    height: 40px;
}
.ThirdInput{
    padding-left: 107px;
    margin-bottom: 16px;
}
.form .ThirdInput input{
    width: 300px;
    height: 40px;
}
.FourthInput{
    padding-left: 107px;
    margin-bottom: 41px;
}
.form .FourthInput input{
    width: 300px;
    height: 40px;
}
.button{
    margin-left: 107px;
    margin-bottom: 39px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
.button{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background: #46a358;
}
.ThirdPar{
    padding-left: 197px;
    margin-bottom: 24px;
}
.imge{
    margin-left: 69px;
    margin-top: 8px;
}
.Dic{
    margin-bottom: 16px;
}
.FirstLink{
    padding-left: 37px;
    font-weight: 500;
    font-size: 12px;
    line-height: 123%;
    color: #727272;
    text-decoration: none;
}
.SecondLink{
    padding-left: 107px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    text-decoration: none;
    padding-top: 16px;

}
.divsec{
    margin-bottom: 50px;
}
.divlower{
    width: 100%;
    height:13px;
    background-color: #46a358;
    border:none;
}
hr {
    border: none;
    height: 2px;
    background-color:#46a358;
}






    .FirstSection{
        max-width: 750px;
    }


.LinkOfFirstImage{
    max-width: 100%;
}
.Firstimage{
    width: 100%;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 13px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #a5a5a5;
}
.container .ButtonLog{
    padding: 8px 17px;

}
header{
    padding-top: 31px;
    margin-bottom: 12px;
}

.List{
    font-family:'cera_round_pro_demoregular';
    gap:50px;
    display: flex;
    max-width: 351px;
    list-style: none;
}
.List > li:after{
    content: "";
    width: 100%;
    height: 3px;
    background: #46a358;
    position: relative;
    top:26px;
    display:block;
    opacity: 0;
}
.List > li:hover:after{
    content: "";
    width: 100%;
    height: 3px;
    background: #46a358;
    position: relative;
    top:26px;
    display:block;
    opacity: 1;
}

.List li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family:'cera_round_pro_demoregular';
}
.List .ListofLink a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family:'cera_round_pro_demoregular';
}
.List li .LinkOfList:hover{
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
    font-family:'cera_round_pro_demoregular';
}
.List li .LinkOfList:hover{
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
    font-family:'cera_round_pro_demoregular';
}

.List .ListofLink{
    position: relative;
}

.ArrowOfMenu{
    width: 6px;
    height: 10px;
    position:absolute;
    right: 17px;
    bottom: 13px;
}
.ArrowOfMenu:hover{
    width: 6px;
    height: 10px;
    position:absolute;
    right: 17px;
    bottom: 13px;
    transform: rotate(180deg);
    transition: 0.6s;
}



.List .ListofLink > ul {
    padding-top: 40px;
    position: absolute;
    top:17px;
    left:-45px;
    z-index: 1;
    display: none;


}
.List .ListofLink:hover > ul{
    display: block;
}
.List .ListofLink ul > li{
    background: #edf6ee;
    list-style: none;
    min-width: 188px;
    padding: 8px 14px;
}
.List .ListofLink ul >li:hover{
    background-color: green;
}
.List .ListofLink ul li  a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family:'cera_round_pro_demoregular';
}



.List .ListofLink ul .SecondStageList{
    position: relative;
}
.SecondStageList > ul{
    position: absolute;
    top:-96px;
    left:188px;
    display: none;

}
.SecondStageList ul > li{
    background: #edf6ee;
    list-style: none;
    min-width: 188px;
    padding: 8px 14px;
    display: block;
}
.SecondStageList ul > li:hover{
    background-color: green;
}
.ListofLink ul .SecondStageList:hover  ul{
    display: block;
}


.SecondStageList ul li > a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family:'cera_round_pro_demoregular';
}




.ButtonLog{

    text-decoration: none;
    background-color: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    align-items: center;
    display: inline-flex;

}
.ButtonLog span{
    font-weight: 500;
    font-size: 16px;
}
.Imagi{
    margin-right: 7px;


}
.List .LinkofList:hover{
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
}




.FirstSection{
    padding:0 15px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);


}
.divo{
  max-width: 545px;
   padding-top: 68px;
    margin-left:40px;

}
.divooo{
    display: flex;
    flex-wrap: nowrap;
    max-width: 507px;
    position: relative;

}
.divooo img:first-of-type{
    position: absolute;
    top:66%;
    left:7%;
    display: none;


}
.BigFlower{
    width: 100%;
}
.FirstSection h2{
    max-width: 300px;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;

}
.FirstSection h1{
    margin-bottom: 5px;
    max-width: 530px;
    font-weight: 900;
    font-size: 57px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}
.FirstSection h1 span{
    font-weight: 900;
    font-size: 57px;
    line-height: 100%;
    text-transform: uppercase;
    color: #46a358;
}
.FirstSection p{
    margin-bottom: 44px;
    max-width: 545px;
    font-weight: 400;
    font-size: 15px;
    line-height: 171%;
    color: #727272;

}







.FirstSection a{
    text-decoration: none;
    background-color: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
}



.SecondSection{
    padding-top: 28px;

}
.Div_of_secnd{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.listofleftcont{
    list-style: none;
    padding:12px 45px;
    line-height: 267%;
}
.listofleftcont li{
    white-space: nowrap;
}
.listofleftcont li:first-of-type{
    margin-bottom:7px;
}
.listdevcon{
    display: flex;
    max-width: 838px;
    margin-bottom: 31px;
    justify-content: space-between;


}

.listdevcon p{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.listdevcon p img{
    vertical-align: middle;
}
.listdevcon ul{
    list-style: none;
    display: flex;
    gap:38px;

}

.listdevcon ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family:'cera_round_pro_demoregular';

}
.listdevcon ul li a:hover{
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
    font-family: 'cera_round_pro_demoregular';
}
.commontcentralcont{
    display: flex;
    flex-direction: column;
    max-width: 840px;
}

.listofleftcont:first-of-type {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.listofleftcont li a{
    margin-left: 12px;
    font-weight: 700;
    font-size: 15px;
    line-height: 300%;
    color:#3d3d3d;
}
.listofleftcont a{
    text-decoration: none;
}
.listofleftcont li a:hover{
    font-weight: 700;
    font-size: 15px;
    color: #46a358;
    text-decoration: none;
    font-family:'cera_round_pro_demoregular';

}
.central_container{
    margin-bottom: 90px;
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    gap:70px 33px;


}
.central_container article{
    position: relative;
    width:calc(33.3% - 22px);
    background: #fbfbfb;
    border-top: 2px solid transparent;
}
.central_container article:hover{
    border-top: 2px solid #46a358;
}
.central_container article .sale{
    position: absolute;
    top:14px;
    background: #46a358;
    padding: 7px 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff

}
.central_container article .discount{
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    margin-left:16px;
    text-decoration: line-through;
}
.central_container article .CartListOne  {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 63px);
    display: flex;
    gap: 26px;
}
.central_container article .CartListTwo{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 63px);
    display: flex;
    gap: 26px;
}
.central_container article .CartListThree{
    position: absolute;
    bottom: 41px;
    left: calc(50% - 63px);
    display: flex;
    gap: 26px;
}
.central_container article .CartListFour{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 63px);
    display: flex;
    gap: 26px;
}
.central_container article .CartListOne li{
    list-style: none;
}
.central_container article .CartListOne li a svg{
    width: 20px;
    height: 20px ;
    opacity: 0;
}
.central_container article:hover .CartListOne li a svg{
    opacity: 1;
}
.central_container article .CartListOne li:first-of-type:hover a svg path{
    fill:#46a358;
}


.central_container article .CartListTwo li{
    list-style: none;
}
.central_container article .CartListTwo li a svg{
    width: 20px;
    height: 20px ;
    opacity: 0;
}
.central_container article:hover .CartListTwo li a svg{
    opacity: 1;
}
.central_container article .CartListTwo li:first-of-type:hover a svg path{
    fill:#46a358;
}
.central_container article .CartListThree li{
    list-style: none;
}
.central_container article .CartListThree li a svg{
    width: 20px;
    height: 20px ;
    opacity: 0;
}
.central_container article:hover .CartListThree li a svg{
    opacity: 1;
}
.central_container article .CartListThree li:first-of-type:hover a svg path{
    fill:#46a358;
}
.central_container article .CartListFour li{
    list-style: none;
}
.central_container article .CartListFour li a svg{
    width: 20px;
    height: 20px ;
    opacity: 0;
}
.central_container article:hover .CartListFour li a svg{
    opacity: 1;
}
.central_container article .CartListFour li:first-of-type:hover a svg path{
    fill:#46a358;
}
.central_container article h3{
    padding-top: 20px;
    color: #3d3d3d;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-family: 'cera_round_pro_demoregular';
}
.central_container article img{
    margin-top: 31px;
    width: 250px;
    height: 250px;
}
.central_container article a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_round_pro_demoregular';
}

.leftcont_nd_image .ImageContainer{
    margin-top: 365px;
    max-width: 360px;
    margin-left: -50px;

}
.leftcont_nd_image{
    max-width: 310px;
}
.lastitemofcentcont ul{
    flex-flow: row-reverse;
    display: flex;
    gap:10px;


}
.lastitemofcentcont ul li:not(:first-of-type){
    justify-content: center;
    align-items: center;

}
.lastitemofcentcont ul li{
    display: flex;
    width:35px;
    height:35px;
    list-style: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}


.lastitemofcentcont ul li a{
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    color: #3d3d3d;

}
.lastitemofcentcont ul li:hover {
    border-radius: 4px;
    background: #46a358;
}
.lastitemofcentcont ul li:hover a{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.lastitemofcentcont ul li:hover a svg path{
    stroke: #e5e5e5;
}
.ThirdSection{
    margin-top: 94px;
    margin-bottom: 138px;
}
.containerofthirdsection{
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.containerofthirdsection .leftArticle div h3{
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
}
.containerofthirdsection .leftArticle div p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
    font-family: 'cera_round_pro_demoregular';
}
.containerofthirdsection .leftArticle div a{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background: #46a358;
    padding:11px 28px;
    font-family: 'cera_round_pro_demoregular';




}
.containerofthirdsection .leftArticle div a:after{
    content:"";
    display: inline-block;
    background: url("../Images/Arrow - Right4.svg");
    width: 12px;
    height: 10px;
    position:relative;
    top:1px;
    font-family: 'cera_round_pro_demoregular';
}


.leftArticle{
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 586px;
}
.rightArticle{
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 586px;

}
.containerofthirdsection .rightArticle div h3{
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
}
.containerofthirdsection .rightArticle div p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
    font-family: 'cera_round_pro_demoregular';
}
.containerofthirdsection .rightArticle div a{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background: #46a358;
    padding:11px 28px;
    font-family: 'cera_round_pro_demoregular';
}
.containerofthirdsection .rightArticle div a:after{
    content:"";
    display: inline-block;
    background-image: url("../Images/Arrow - Right4.svg");
    width: 12px;
    height: 10px;
    position:relative;
    top:1px;
}


.FourthSection{
    margin-bottom: 100px;
}
.Blog{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.Blog h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
    font-family: 'cera_round_pro_demoregular';
}
.Blog p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    font-family: 'cera_round_pro_demoregular';
}
.FourFlowers{
    display: flex;
    justify-content: space-between;
}
.FourFlowers article{
    text-align: left;
}
.FourFlowers article img{
    margin-bottom: 9px;
}
.FourFlowers article span{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 5px;
    font-family: 'cera_round_pro_demoregular';
}
.FourFlowers article h3{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
}
.FourFlowers article p{
    margin-bottom: 9px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_round_pro_demoregular';
}
.FourFlowers article a{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 13px;
    font-family: 'cera_round_pro_demoregular';
}
.FourFlowers article a:hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}

.FourFlowers article a:after{
    content: "";
    display: inline-block;
    background-image: url("../Images/Arrow - Right.svg");
    width: 12px;
    height:10px;
    margin-left:6px;


}
.FourFlowers article a:hover:after{
    background-image:url("../Images/Arrow - RightGreen.svg");
}



.DivOfFifth{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 61px;
}
.DivOfFifth article:first-of-type{
    margin-left: 25px;
}
.DivOfFifth article{
    margin-bottom: 25px;
    position: relative;
}
.DivOfFifth article:after{
    top: 0;
    left: 230px;
    content: "";
    position: absolute;
    background: rgba(70, 163, 88, 0.2);
    width: 1px;
    height: 197px;
    transform: rotate(180deg);

}
.DivOfFifth article img{
    margin-bottom: 15px;
}
.DivOfFifth article h4{
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';

}
.DivOfFifth article p{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_round_pro_demoregular';
}


.InnerDivofFifth{
    padding-top: 15px;
    max-width: 354px;
}
.DivOfFifth .InnerDivofFifth h4{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
}




.DivOfFifth .InnerDivofFifth{
    margin-right: 25px;
}

.DivOfFifth .InnerDivofFifth p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_round_pro_demoregular';
}
.FormOfFifthSec{
    display: flex;
    margin-bottom: 18px;
}
.DivOfFifth .InnerDivofFifth .FormOfFifthSec input {
    padding: 11px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    width: 76%;
    display: inline-block;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius:6px 0 0 6px;
    border-color: transparent;
}
.FormOfFifthSec button{
    border-color: transparent;
    width: 24%;
    border-radius: 0 6px 6px 0;
    background: #46a358;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_round_pro_demoregular';
}

.DivOfSixthSec{
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 15px;

}
.DivOfSixthSec div  img{
    margin-left: 22px;

}
.DivOfSixthSec .DivInFirst{
    position: relative;
}
.DivOfSixthSec .DivInFirst a:before{
    background-image: url("../Images/LocationOf.svg");
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top:7px;
}
.DivOfSixthSec .DivInFirst a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';

}
.DivOfSixthSec .DivInSecond{
    top: 8px;
    position: relative;
}
.DivOfSixthSec .DivInSecond a:before{
    background-image: url("../Images/Mail.svg");
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top:0;
}
.DivOfSixthSec .DivInSecond a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
}
.DivOfSixthSec .DivInThird a:before{
    background-image: url("../Images/Phone.svg");
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top:0;
}
.DivOfSixthSec .DivInThird a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
}
.DivOfSixthSec .DivInThird{
    position: relative;
    right: 22px;
    top:8px;
}



.LastContainer{
    background: #fbfbfb;
    padding-top: 33px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 29px;
    border-bottom:1px solid rgba(70, 163, 88, 0.2);
}
.LastContainer > ul{
    position: relative;
}
.LastContainer > ul:first-of-type{
    left:25px;
}
.LastContainer > ul:nth-of-type(2){
    right:25px;
}
.LastContainer > ul:last-of-type{
    right: 90px;
}
.LastContainer div{
    position: relative;
    right:145px;
}


.LastContainer > ul li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 215%;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular';
}
.LastContainer > ul li{
    list-style: none;
}
.LastContainer > ul .HeadList{
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
}
.LastContainer div p{
    font-family: 'cera_round_pro_demoregular';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 20px;
}
.LastContainer div ul{
    display:flex;
    gap:10px;
    margin-bottom: 33px;
}
.LastContainer div ul li{
    list-style: none;
}

.LowerP{
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
    text-align: center;
}


.ui-accordion-header{
    background-color: #fff;
    padding: 20px 76px 20px 44px;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    text-align: start;
    color: #242424;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;

}
.ui-state-active{
    background-color:#f6f6f6;
    border-bottom: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.ui-accordion .ui-accordion-content{
    background-color: #f6f6f6;
    border-width: 3px;
    transition: background-color .3s ease;
    border-color: black;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}





